%h1 BICC
#map-container
  #map
    .search
      %input(data-bind="value: searchCountry, valueUpdate: 'keyup'" placeholder="Search for a country")
      %ul(data-bind="visible: searchedCountries().length > 0, foreach: searchedCountries")
        %li
          %a(data-bind="text: name, click: $parent.zoomToCountry")
  #misc
    #info
      %p(data-bind="visible: countryName() == ''") Mit der Maus über Länder fahren um mehr Informationen zu bekommen.
      .country-info(data-bind="visible: countryName().length > 0")
        %h2(data-bind="text: countryName")
        %ul.exports
          %li(data-bind="css: { checkmark: armsExports }")
            .title
              Waffenexporte
          %li(data-bind="css: { checkmark: weaponsExports }")
            .title
              Kriegsgüterexporte
          %li.sum
            .title
              Rüstungexporte Deutschlands
              %br
              %span
                (1999-2013)
            .amount(data-bind="text: germanArmsExportinMillion")
          %li.gmi
            .title
              GMI Rank
              %span(data-bind="text: gmiRank")
        %ul.categories
          %li.category
            .category-title
              Arms Embargos
            %ul.signal(data-bind="with: armsEmbargo")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              Human Rights
            %ul.signal(data-bind="with: humanRights")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              Internal Conflict
            %ul.signal(data-bind="with: internalConflict")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              Regional Security
            %ul.signal(data-bind="with: regionalSecurity")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              Security of Member States
            %ul.signal(data-bind="with: securityMemberStates")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              membership in un conventions
            %ul.signal(data-bind="with: membershipUN")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              arms export control
            %ul.signal(data-bind="with: armsExportControl")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
          %li.category
            .category-title
              military/ non-military balance
            %ul.signal(data-bind="with: militaryBalance")
              %li.light.red(data-bind="css: { active: redActive }")
              %li.light.yellow(data-bind="css: { active: yellowActive }")
              %li.light.green(data-bind="css: { active: greenActive }")
        %a(data-bind="attr: { href: countryReport }") Länderreport
    #legend
      = partial 'partials/legend'
  #filter
    #type-filter
      %ul(data-bind="foreach: layers")
        %li(data-bind="css: { active: $parent.activeLayer() == $data},click: $parent.showLayer")
          .indicator(data-bind="text: text ")
    #volume
