%h1 BICC
#map-container
  #filter
    #type-filter
      /* tabs von refill */
      %ul
        %li
          %button.indicator.active(id="type-1" data-type="1")
            Arms Embargos
        %li
          %button.indicator(id="type-2" data-type="2")
            Human Rights
        %li
          %button.indicator(id="type-3" data-type="3")
            Internal Conflict
        %li
          %button.indicator(id="type-4" data-type="4")
            Regional Security
        %li
          %button.indicator(id="type-5" data-type="5")
            Security of Member States
    #volume
  #map
  #misc
    #info
      %p Mit der Maus über Länder fahren um mehr Informationen zu bekommen.
    #legend
      %p Legend
