%h1 BICC
#map-container
  #map
    .search
      %input(data-bind="value: searchCountry, valueUpdate: 'keyup'" placeholder="Search for a country")
      %ul(data-bind="visible: searchedCountries().length > 0, foreach: searchedCountries")
        %li
          %a(data-bind="text: name, click: $parent.zoomToCountry")
    #legend
      = partial 'partials/legend'
  #misc
    #info
      = partial 'partials/sidebar'
  #filter
    #type-filter
      %ul(data-bind="foreach: layers")
        %li(data-bind="css: { active: $parent.activeLayer() == $data},click: $parent.showLayer")
          .indicator(data-bind="text: text ")
    #volume
