%h1 BICC
#map-container
  #map
  #misc
    #info
      %p(data-bind="visible: countryName() == ''") Mit der Maus 체ber L채nder fahren um mehr Informationen zu bekommen.
      .country-info(data-bind="visible: countryName().length > 0")
        %h2(data-bind="text: countryName")
        %p
          R체stingexporte Deutschlands:
          %span(data-bind="text: germanArmsExportinMillion")
        %ul
          %li
            Arms Embargos:
            %span(data-bind="text: armsEmbaroLegend")
          %li
            Human Rights:
            %span(data-bind="text: humanRightsLegend")
        %a(data-bind="attr: { href: countryReport }") L채nderreport
    #legend
      %p Legend
  #filter
    #type-filter
      %ul(data-bind="foreach: layers")
        %li(data-bind="css: { active: $parent.activeLayer() == $data},click: $parent.showLayer")
          .indicator(data-bind="text: text ")
    #volume
